.rdp-root {
  height: 300px;
}

.rdp-table {
  width: 100%;
  max-width: initial !important;
}

.rdp-head {
  height: 35px;
}

.rdp-month {
  width: 100%;
}

.rdp-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rdp-nav > .rdp-button:hover:not([disabled]) {
  background-color: transparent !important;
}

.rdp-head-cell {
  font-weight: normal;
  width: calc(100% / 7);
  min-width: calc(100% / 7);
  max-width: calc(100% / 7);
}

.rdp-head-cell:nth-child(1),
.rdp-head-cell:nth-child(7) {
  color: red;
}

.rdp-button {
  background-color: #272727;
  border-radius: 6%;
  margin: 0.4rem auto;
  width: 24px;
  height: 24px;
  font-size: 12px;
  font-weight: normal;
}

.rdp-day-today:not(.rdp-day-outside) {
  color: rgba(253 230 138) !important;
  font-weight: bold !important;
}

.rdp-day-selected {
  background-color: #8687e7 !important;
}

.rdp-day-outside {
  background-color: transparent;
}

.rdp-caption {
  margin-bottom: 8px;
  position: relative;
  border-bottom: 1px solid #979797;
  padding-bottom: 10px;
}

.rdp-caption-label {
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
}

.rdp-day {
  width: auto !important;
  height: 24px !important;
  width: 24px !important;
}

.rdp-day > .rdp-button {
  @apply mx-auto mt-3 h-6 w-6 rounded-md border bg-black/25;
  font-size: 13px !important;
}

.rdp-day > .rdp-button:hover,
.rdp-button:active {
  @apply bg-primary !important;
}
