{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 90,
  "bracketSpacing": true,
  "pluginSearchDirs": ["."],
  "plugins": ["prettier-plugin-tailwindcss"]
}
