@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black dark:text-white;
}

.p-base {
  @apply m-5;
}

.container-100svh {
  @apply flex;
  height: 100svh;
}

.btn-text {
  @apply h-12 rounded-[4px] px-4 py-1 text-black dark:text-white;
}

.btn-contained {
  @apply box-border h-12 rounded-[4px] bg-primary px-4 py-1;
}

.btn-outlined {
  @apply box-border h-12 rounded-[4px] border-2 border-primary bg-white px-4 py-1 text-black dark:bg-black dark:text-white;
}

.EmojiPickerReact .epr-preview {
  display: none !important;
}

.EmojiPickerReact .epr-hidden-on-search {
  display: none !important;
}

/* @media not all and (min-width: 640px) {
  .EmojiPickerReact .epr-emoji-category-label {
    display: none !important;
  }
} */
